<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
</head>
<body>
    <h1>🍲 App de Receitas</h1>

    {% for item in dados %}
        <h2>{{ item.receita.nome }}</h2>  

        <form method="post" action="{% url 'favoritar_receita' item.receita.id %}">
            {% csrf_token %}
            <button type="submit">❤️ Favoritar</button>
        </form>

        <ul>
            {% for ing in item.ingredientes %}
                <li>
                    {{ ing.quantidade }} {{ ing.unidade }} de {{ ing.ingrediente.nome }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p>Total de receitas: {{ dados|length }}</p>


    <h2>⭐ Minhas Receitas Favoritas</h2>

    <ul>
        {% for fav in favoritos %}
                <li>{{ fav.receita.nome }}</li>
        {% empty %}
                <li>Nenhuma receita favoritada ainda.</li>
        {% endfor %}
    </ul>

<hr>
</body>
</html>